{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true
  },
  "rules": {
    "no-var":2,
    "no-use-before-define":2,
    "eqeqeq":2
  }
}